* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #001F3F;
  padding: 20px 0;
  text-align: center;
}

.logo {
  text-align: center;
}


.brand-name {
  font-size: 2rem;
  color: #0073E6;
  margin: 5px 0;
}

.brand-subtitle {
  font-size: 1.2rem;
  color: white;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.intro-left {
  flex: 1;
  text-align: center;
}

.intro-image {
  max-width: 100%;
  height: auto;
}

.tagline {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #0073E6;
}

.intro-right {
  flex: 1;
  text-align: center;
}

.tree-image {
  max-height: 500px;
  width: auto;
}

.supplies {
  background-color: #001F3F;
  color: white;
  text-align: center;
  padding: 20px;
}

.supplies-heading {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.supplies-list {
  list-style: none;
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
}

.supplies-list li {
  font-size: 1rem;
  margin: 5px 0;
}

.footer {
  background-color: #FFA500;
  text-align: center;
  padding: 10px;
  color: white;
}

.image-group {
  position: relative;
  width: max-content;
}

.image-group img {
  position: absolute;
}

.image-1 {
  z-index: 1; /* Image on the bottom */
}

.image-2 {
  z-index: 2; /* Image on top */
  top: 20px; /* Adjust position */
  left: 20px;
}

.mb-5 {
  margin-bottom: 5rem;
}
.p-5 {
  padding: 5rem;
}

span > .text-bold {
  font-weight: bold;
}